{% extends "base4.html" %}

{% load staticfiles %}

{% block title %}Profil Amar Lounas - Architect{% endblock %}

{% block content %}

{% include "menu.html" %}

<div class="row">
 <div class="col-md-11">
            <!-- Caroussel -->
            <div class="col-md-8">
               
               <!-- id sert à identifier le caroussel, pour les controls -->
               <div id="bestCarsCarousel" class="carousel slide" data-ride="carousel">
                  
                  <!-- Indicators : identifier les élements du caroussel -->
                  <ol class="carousel-indicators">

					    
                   {% for image in projet.get_images_chantier  %}

						    {% if forloop.counter0 = 0 %}

						 		<li data-target="#bestCarsCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
						    {% else %}
						    	<li data-target="#bestCarsCarousel" data-slide-to="{{forloop.counter0}}" ></li>

						    {% endif %}

						    {% empty %}
						    <li>No images</li>
					    {% endfor %}


                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
               
				
					{%for image in projet.get_images_chantier %}
					          {% if forloop.counter0 = 0 %}            

					                     <div class="item active">
					                   
					          
					          {% else %}

					                     <div class="item">

					          {% endif %}


					                        <img src="{% static image.get__absolute_url %}">
					                        <div class="carousel-caption"  >
					                           <h3>{{ image.title }}</h3>
					                           <p>{{ image.caption }}</p>
					                        </div>
					                     </div>

					{% endfor %}

                  </div>
                   

                   <!-- Controls -->
                  <a class="left carousel-control" href="#bestCarsCarousel" data-slide="prev">
                     <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#bestCarsCarousel" data-slide="next">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>

                                 
               </div>
                               
               <script type="text/javascript">
                  var options = {
                  interval: 50000,
                  
                  wrap: true
                  };
                  $('#bestCarsCarousel').carousel(options);
               </script>
            
            </div>
           
            <!-- Paragraphe texte-->
            <div class="col-md-4">
            {{projet.title}}, {{projet.date}}

            <br>
            <br>
               
                  {{ projet.text }}

                  <br>
                  <br>
                  
            </div>

         </div>


</div>

{% include "footer.html" %}

{% endblock %}