               
{% load staticfiles %}

                    <br>
  
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'theme.js' %}"></script>
    <script src="{% static 'jquery.isotope.min.js' %}"></script>

    <script type="text/javascript">
        $(function(){

            var $container = $('#gallery_container'),
                  $filters = $("#filters a");
        
            $container.imagesLoaded( function(){
                $container.isotope({
                    itemSelector : '.photo',
                    masonry: {
                        columnWidth: 100
                    }
                });
            });

            // filter items when filter link is clicked
            $filters.click(function() {
                $filters.removeClass("active");
                $(this).addClass("active");
                var selector = $(this).data('filter');
                $container.isotope({ filter: selector });
                return false;
            });
        
        
        });
    </script>

<div class="container-fluid footer-amar">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <a class="brand" href="https://fr.linkedin.com/in/asnounsamir" target="_blank">Powered by Samir ASNOUN</a>
    </div>
  </div>
</div>
                