        <div class="row">



        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 col-md-offset-4">


         <nav id="menu">
            <ul class="parent-menu">
               <li><a href="/profile/">Profil</a>
               </li>
               <li>
                  <a href="/projets/">Projects</a>

               </li>
               <li>
                  <a href="/artsetartisanats/">Arts et Artisanat</a>
               </li>
               <li>
                  <a href="/contact/">Contact</a>

               </li>
            </ul>
         </nav>



         </div>
         <div class="col-md-4"></div>

         </div>
         