



<div class="navbar navbar-inverse navbar-static-top" role="navigation">
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/profil/" class="navbar-brand"><strong>Lounas Amar</strong></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Réalisations</a></li>
                    <li><a href="/profile/">Profil</a></li>                    
                    <li><a href="/contact/">Nous contacter</a></li>                    
                    <li><a href="sign-up.html">Sign up</a></li>
                    <li><a href="sign-in.html">Sign in</a></li>
                </ul>
            </div>
        </div>

</div>


