


<!DOCTYPE html>
<html>

	<head>

	
		<title>Lounas Amar- Profil Amar Lounas - Architect</title>
		
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="/media/jquery.min.js"></script>
      <title>Lounas Architect</title>
      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/media/bootstrap.min.css"  type="text/css" >
      <link rel="stylesheet" href="/media/style3.css" type="text/css" >
           
      <!-- Latest compiled and minified JavaScript -->
      <script src="/media/bootstrap.min.js"></script>
      <script src="/media/jquery.min.js"></script>


	</head>
	


  <body>

	<div class="container">

		

         <nav id="menu">
            <ul class="parent-menu">
               <li><a href="/profil/">Profil</a>
               </li>
               <li>
                  <a href="/projets/">Projects</a>
                  <ul class="sub-menu1">
                     <li>
                        <li><a href="/projets/ARCHITE/">Architecture</a> </li>
                        <li><a href="/projets/AMEURBA/">Aménagement</a> </li>
                        <li><a href="/projets/DESIGN/">Design</a> </li>
                        <li><a href="/projets/URBAPAY">Urbanisme et paysages</a> </li>



                     </li>

                  </ul>
               </li>
               <li>
                  <a href="/artsetartisanats/">Arts et Artisanat</a>
                  <ul>
                     <li><a href="/artsetartisanats/EXPO/">Exposition</a></li>
                     <li><a href="/artsetartisanats/PUBLI/">Publications</a></li>
                     <li><a href="/artsetartisanats/ARTICL/">Articles</a></li>


 
                  </ul>
               </li>
               <li>
                  <a href="/contact/">Contact</a>

               </li>
            </ul>
         </nav>

<div class="row">
 <div class="col-md-11">
            <!-- Caroussel -->
            <div class="col-md-7">
               
               <!-- id sert à identifier le caroussel, pour les controls -->
               <div id="bestCarsCarousel" class="carousel slide" data-ride="carousel">
                  
                  <!-- Indicators : identifier les élements du caroussel -->
                  <ol class="carousel-indicators">

					    

						    
						 		<li data-target="#bestCarsCarousel" data-slide-to="0" class="active"></li>
						    

						    

                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
               
				
					
					                      

					                     <div class="item active">
					                   
					          
					          


					                        <img src="/media/23.jpg">
					                        <div class="carousel-caption"  >
					                           <h3>23</h3>
					                           <p>23</p>
					                        </div>
					                     </div>

					

                  </div>
                   

                   <!-- Controls -->
                  <a class="left carousel-control" href="#bestCarsCarousel" data-slide="prev">
                     <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#bestCarsCarousel" data-slide="next">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>

                                 
               </div>
                               
               <script type="text/javascript">
                  var options = {
                  interval: 50000,
                  
                  wrap: true
                  };
                  $('#bestCarsCarousel').carousel(options);
               </script>
            
            </div>
           
            <!-- Paragraphe texte-->
            <div class="col-md-2">
            Map 1, 26 mai 2015

            <br>
            <br>
               
                  sdsdsd

                  <br>
                  <br>
                  
            </div>

         </div>


</div>

               



               <div id="footer">
               		<br>
               		
                     <img class="image_footer" src="/media/footer.png">
                     <p class="text-center">
                     
                     <a class="brand" href="https://fr.linkedin.com/in/asnounsamir" target="_blank">Powered by Samir ASNOUN</a>

                     </p>
               </div>




                




		</div>

  </body>



</html>

